@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:600|Raleway:500,700&amp;subset=latin-ext");
/*! normalize.sass v3.0.3 | MIT License | github.com/necolas/normalize.css */
html {
  font-family: "Raleway", sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  padding: 0;
  margin: 0 10%;
  position: relative;
  box-sizing: border-box;
  background-color: #f0f0f0;
  font-size: 16px; }
  @media only screen and (max-width: 767px) {
    body {
      font-size: 14px; } }

div, p, footer, header {
  box-sizing: border-box; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit; }
  a:active, a:hover {
    outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 1.777rem;
  line-height: 1.875rem;
  margin: 0.67em 0; }

h2 {
  font-size: 1.333rem;
  line-height: 1.875rem;
  margin: 0.67em 0; }

p {
  font-size: 1rem;
  line-height: 1.5rem; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible;
  text-transform: none; }

select {
  text-transform: none; }

button, html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer; }

input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }
  input::-moz-focus-inner {
    border: 0;
    padding: 0; }
  input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0; }
  input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
    height: auto; }
  input[type="search"] {
    -webkit-appearance: textfield;
    box-sizing: content-box; }
    input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
      -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

ul {
  list-style-position: outside;
  padding-left: calc(20px * 1); }

li {
  margin-top: calc(20px * 0.5); }

@font-face {
  font-family: "FA";
  src: url("../font/fontello.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
.text-bold {
  font-weight: 900; }

.header {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0 10%; }

.header {
  transition: min-height 1s ease, margin-left 0.8s ease, padding 0.8s ease, font-size 0.1s ease; }
  .header-first {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    top: 0;
    left: 0;
    position: fixed;
    background-color: #f0f0f0;
    z-index: 20; }
  .header-second {
    top: 50px;
    left: 0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000;
    color: #f0f0f0;
    z-index: 19; }
  .header-third {
    top: 0;
    left: 0;
    position: fixed;
    background-color: #f0f0f0;
    z-index: 18;
    transition: min-height 1s ease 0.8s, margin-left 0.8s ease 0.8s, padding 0.8s ease 0.8s, font-size 0.1s ease 0.8s; }

.header-navigation {
  opacity: 0;
  z-index: -1;
  -webkit-transition: opacity 2s ease 1s;
  -o-transition: opacity 2s ease 1s;
  transition: opacity 2s ease 1s;
  flex: 1 1 20%; }

.header-checkbox {
  opacity: 0;
  z-index: -10;
  top: 0;
  left: 0;
  position: fixed; }
  .header-checkbox:checked + .header {
    margin: 0 -10%;
    min-height: calc(20px * 2.5);
    padding: 0 calc(20px * 1) 0 20%;
    height: calc(20px * 2.5); }
    .header-checkbox:checked + .header .header-navigation {
      opacity: 1;
      z-index: 1; }
    .header-checkbox:checked + .header .header-title {
      font-size: 1.333rem;
      line-height: 1.5rem; }
      .header-checkbox:checked + .header .header-title-accent-first-underline::after {
        width: 0; }
      .header-checkbox:checked + .header .header-title-accent-second-underline::after {
        width: 0; }
  .header-checkbox:checked:nth-of-type(2) ~ .header-third {
    max-height: calc(20px * 2.5);
    min-height: 0;
    margin-left: -10%;
    padding: 0 0 0 20%; }

.header-title {
  font-size: 1.777rem;
  transition: font-size 1s ease, line-height 1s ease;
  flex: 1 1 75%;
  z-index: 2; }
  .header-title-accent {
    color: #f03a47;
    position: relative;
    white-space: nowrap; }
    .header-title-accent::after {
      content: "";
      display: inline-block;
      height: 2px;
      background-color: #f03a47;
      border: none;
      top: 85%;
      left: 0;
      position: absolute;
      z-index: 2;
      width: 100%;
      transition: width 0.8s ease; }
    .header-title-accent-first {
      text-shadow: 0px 2px 2px #f3f3f3; }
    .header-title-accent-second {
      text-shadow: 0px 2px 2px black; }

.pages-container {
  margin: 0 20px; }

.page {
  width: 100%;
  min-height: 100vh;
  position: relative;
  padding: calc(20px * 2) 0; }
  @media only screen and (max-width: 767px) {
    .page {
      min-height: 0;
      border-bottom: 1px solid lightgrey; } }

.page-navigation {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: calc(calc(20px * 2.5) * 2 + calc(20px * 2)); }

.page-sidebar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex: 1 1 33.3333333333%; }

.page-nextto-sidebar {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  width: calc(100% - 150px);
  flex: 1 1 66.6666666667%; }

.page-text-width {
  width: 400px; }

.page-description {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.footer-main {
  bottom: 0;
  position: fixed;
  width: calc(100% - 10%);
  height: calc(20px * 3);
  border-top: 1px solid #F1F2EB;
  background-color: #f0f0f0;
  padding: 0 10%;
  margin: 0 -10%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 0.75rem; }

.footer-right {
  top: 50%;
  right: 0;
  position: absolute;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.footer-static {
  position: static; }

.footer-author {
  margin: 0;
  margin-right: calc(20px * 1); }

.inline {
  display: inline-block; }

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(720deg);
    -ms-transform: rotate(720deg);
    transform: rotate(720deg); } }
@keyframes beat {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }
  40% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }
  44% {
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03); }
  50% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }
  52% {
    -webkit-transform: scale(1.04);
    -ms-transform: scale(1.04);
    transform: scale(1.04); }
  58% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); } }
@keyframes page-rotate {
  0% {
    transform: rotateY(0deg); }
  99% {
    transform: rotateY(180deg); }
  100% {
    transform: rotateY(0deg); } }
@keyframes page-start {
  from {
    min-height: 100vh; }
  to {
    min-height: calc(20px * 2.5); } }
.button {
  display: block;
  padding: 0.5rem 1rem;
  font-size: font-setting("-1");
  font-weight: bold;
  letter-spacing: 1px;
  border: 1px;
  border-style: solid;
  border-radius: 0;
  text-decoration: none;
  outline: none; }

.button-highlight {
  color: #f0f0f0;
  background-color: #f03a47;
  border-color: #f03a47; }
  .button-highlight:hover {
    color: #f0f0f0;
    background-color: #c02e39;
    border-color: #c02e39; }
.button-footer-outside {
  top: -20px;
  right: 0;
  position: absolute;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%); }
.button-contact {
  margin-right: calc(20px * 1);
  z-index: 1; }
  .button-contact::after {
    content: "";
    top: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    width: 20px;
    height: 100%;
    background-color: #f0f0f0; }
.button-contact-icon {
  color: #273043;
  background-color: transparent;
  border-color: transparent;
  font-size: 1.777rem;
  display: inline-block; }
  .button-contact-icon:hover {
    color: #f03a47;
    background-color: transparent;
    border-color: transparent; }
  .button-contact-icon-phone::before {
    content: "";
    display: inline-block;
    font-family: "FA";
    padding-right: calc(calc(20px * 1) ); }
  .button-contact-icon-skype::before {
    content: "";
    display: inline-block;
    font-family: "FA";
    padding-right: calc(calc(20px * 1) ); }
  .button-contact-icon-mail::before {
    content: "";
    display: inline-block;
    font-family: "FA";
    padding-right: calc(calc(20px * 1) ); }
  .button-contact-icon-messenger::before {
    content: "";
    display: inline-block;
    font-family: "FA";
    padding-right: calc(calc(20px * 1) ); }
  .button-contact-icon-card::before {
    content: "";
    display: inline-block;
    font-family: "FA";
    padding-right: calc(calc(20px * 1) ); }

.button-svg-big-title {
  opacity: 1;
  font-weight: 600;
  text-align: center;
  line-height: 1.125rem; }

.button-header-description {
  display: inline-block;
  top: -10px;
  right: 0;
  position: absolute;
  transition: top 0.3s ease-out;
  color: #000;
  z-index: -1;
  opacity: 1;
  white-space: nowrap; }

.button-svg-big {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  flex: 1 1 calc(100% / 3);
  max-width: 150px; }
  .button-svg-big:hover .button-svg-big-title {
    opacity: 1; }
.button-svg-sidebar {
  width: 80%;
  height: auto; }
.button-svg-header {
  width: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center; }
  .button-svg-header svg {
    width: 20px;
    height: auto; }
  .button-svg-header:hover .button-header-description {
    top: 20px; }

.navigation-list {
  list-style: none;
  display: inline-block;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0; }
  .navigation-list-make-wide {
    transition: right 0.4s ease-in 0.1s; }
  .navigation-list-contact {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: calc(calc(20px * 1) / 2);
    direction: ltr;
    position: relative; }
  .navigation-list-header {
    display: flex;
    align-items: center;
    justify-content: space-between; }

.navigation-item {
  margin: 0; }

.contact-options {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem; }

.button-contact-icon {
  display: inline-block;
  overflow: hidden;
  transition: max-width 0.3s ease-in;
  width: 50px; }

.contact-options-open {
  width: 200px;
  right: 0px; }
  .contact-options-open .button-contact-icon {
    max-width: 50px; }

.contact-options-close {
  padding: 0;
  right: -100px; }
  .contact-options-close .button-contact-icon {
    display: inline-block;
    max-width: 25px; }

.svg-page-fill {
  fill: #e6e6e6;
  fill-opacity: 1;
  transition: fill 0.3s ease; }

.svg-page-stroke {
  stroke: #e6e6e6;
  stroke-width: 10px; }

svg#svg-book:hover .svg-page-fill {
  stroke: #000;
  fill: #96b2c4; }

svg#svg-book:hover .page-rotate {
  transform-origin: 0% 50%;
  animation: page-rotate 0.1s ease-in 0s 7; }

.svg-heart {
  fill: #e6e6e6;
  fill-opacity: 1;
  stroke: #e6e6e6;
  stroke-width: 10px; }

svg#svg-heart:hover .svg-heart {
  animation: beat 1s infinite;
  -webkit-animation: beat 1s infinite;
  stroke: #000;
  fill: #d83440; }

.svg-gear-fill-outside {
  fill: #e6e6e6;
  fill-opacity: 1; }

.svg-gear-fill-inside {
  fill: #273043;
  fill-opacity: 1; }

.svg-gear-stroke {
  stroke: #e6e6e6;
  stroke-width: 10px; }

svg#svg-gear:hover #gear-outside {
  transform-origin: 50% 50%;
  animation: rotate 3s linear infinite;
  -webkit-animation: rotate 3s linear infinite;
  stroke: #000; }

.svg-filtered {
  filter: url(#filter); }

.img-me-round {
  display: block;
  border-radius: 50%;
  max-width: 100%; }
  .img-me-round-header {
    min-height: 20px;
    min-width: 20px; }

.portfolio-image {
  width: 100%;
  height: auto;
  filter: grayscale(100%); }
  .portfolio-image:hover {
    filter: none; }

.pointer {
  cursor: pointer; }

.hidden {
  display: none; }

.underline {
  text-decoration: underline; }

/*# sourceMappingURL=main.css.map */
