/** Standard distance - used in distance function */
$distance: 20px

$margin-body: 10%

$padding-standard: calc(#{distance(1)} / 2)

$border-radius: 10px

/** Buttons */
$button-padding: 0.5rem 1rem
$button-font-size: font-setting("-1")
$button-border-width: 1px
$button-border-radius: 0
